<!DOCTYPE html>
<html>
	<head>
		        <meta charset="utf-8">
			        <title>License Plate Recognizer</title>
	</head>
	<body>
		    <div class="nav">
			           <!-- <div>
		                  <img src="../static/img/sceneinception.png" height="100%" />
				          </div>          -->
					          <div  style='width:100%; height: 10%' >
							                  <h1>License Plate Recognizer</h1>
									              <h2>Please upload picture</h2>
										              </div>
											                      <div>
														                      <form method=post enctype=multipart/form-data>
																	                          <input type=file name=file >
																				                      <input type=submit value= Submit >
																						                      </form>
																						              </div>

																							          </div>


	</body>
</html>
